/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    GENERAL
-------------------*/
body {
    background-color: #000;
    color: #fff;
}
 /*-------------------
    GRID
-------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.row > * {
    padding: 0 10px;
}
.column-33 {
    width: calc(100% / 3);
}
.column-50 {
    width: 50%;
}

/*-------------------
    HEADER
-------------------*/
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100px;
}
.btn {
    background-color: #4f4f4f;
    border-radius: 2px;
    padding: 4px;
    height: 26px;
}
header .btn{
    margin-top: 6px;
}
header .btn:first-child {
    margin-right: 4px;
}

/*-------------------
    MAIN
-------------------*/
main {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 160px);
    overflow-y: auto;
}
.card {
    padding: 0 4px; 
    position: relative;
    padding-top: 16px;
}
.name {
    position: absolute;
    left: 4px;
    bottom: 4px;
    padding: 4px;
    z-index: 1;
    background-color: #4f4f4f98;
}

/*-------------------
    FOOTER
-------------------*/
footer {
    height: 60px;
    background-color: #222222;
}
.container {
    display: flex;
    justify-content: space-between;
}
.input {
    display: flex;
    justify-content: space-between;
}
.audio {
    position: relative;
    height: 50px;
    width: 100px;
}
.fa-microphone {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    margin-left: 8px;
    margin-bottom: 8px;
}
.text {
    position: absolute;
    bottom: 0;
    left: 10px;
    padding-top: 8px;
}
.fa-chevron-up {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: small;
}
.video {
    position: relative;
    height: 50px;
    width: 100px;
}
.fa-video {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    margin-left: 8px;
    margin-bottom: 8px;
}
.middle-buttons {
    display: flex;
    justify-content: center;
}
.add {
    position: relative;
    height: 50px;
    width: 100px;
}
.fa-user-plus {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    margin-left: 8px;
    margin-bottom: 8px;
}
.end {
    color: red;
    background-color: #4f4f4f98;
    height: 60px;
    line-height: 60px;
    font-size: small;
    padding: 0 10px;
}